* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ffdfea;
}
img {
  width: 80vw;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}
button {
  position: absolute;
  z-index: 999;
  bottom: 50px;
  left: 50%;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: 550;
  border-radius: 20px;
  transform: translateX(-50%);
  background-color: #193b60;
  color: #ffffff;
  border: none;
  box-shadow: rgb(12, 20, 88) 0px 7px 20px 0px;
  transition: all 0.18s linear;
}

button:active {
  scale: 0.95;
}

@media only screen and (max-width: 600px) {

  
}
